.vs/
ndkbuild.props
Debug-Client/
streamToolsDesktop-main.zip
streamToolsDesktop-main/
New_folder_4.zip
*.qmod
*.log

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode config stuff
!.vscode/c_cpp_properties.json
!.vscode/tasks.json

ARM64/

# NDK stuff
out/
[Ll]ib/
[Ll]ibs/
[Oo]bj/
[Oo]bjs/
ndkpath.txt
*.zip

# Codegen
extern/codegen/

# Adb Logcat files
log.txt

# QPM Stuffs
qpm.shared.json
extern/
Android.mk.backup
